<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>多列布局</title>
    <style type="text/css">
        p {
            /* column-count: 3; */
            column-fill: balance;
            column-rule: medium solid black;
            column-gap: 1.5em;
            column-width: 10em;
            column-count: 5;
        }
        span {
            float: left;
            border: medium double black;
            background-color: lightgray;
            padding: 2px;
            margin: 2px;
        }
    </style>
</head>
<body>
    <p>
        There are of different kinds of fruit - there are over 500 varieties;
        of banana alone. By the time we add the countless type of apples, oranges,
        and other well-known fruit, we are faced with thousands of choices.
        <span>This is span 1.</span>
        One of the most interesting aspects of fruit is the variety available in 
        each country. I live near London, in an area which is known for its apples.
        <span>This is span 2.</span>
        When travelling in Asia, I was struck by how many different kinds of banana
        were avariable - many of which had unique flavours and which were only 
        avariable within a small region.
        
        And of course, there are fruits which are truely unique - I am put in mind
        of the durian, which is widely consumed in SE Asia and is known as the
        "King of fruits". The durian is largely unknown in Europe and the USA - if
        it is known at all, it is for the overwhelming smell, which is compared
        to a combination of almonds, rotten onions and gym socks.
    </p>
</body>
</html>